// color
$main-bg-color: #ffffff;
$dark-bg-color: #121212;
$secondary-bg-color: #fafafa;

$main-text-color: #656565;
$secondary-text-color: #ffffff;
$title-text-color: #121212;
$active-font-color: #ff5634;

$button-text-color: #ffffff;
$button-bg-color: #ff5634;
$button-border-color: #ededed;
$button-box-shadow: rgba(16, 16, 16, 0.04);

$box-shadow-color: rgba(18, 18, 18, 0.06);
$bg-color-line: #cacaca;
