@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
/*Reset default style*/
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

button {
  font-family: inherit;
  background-color: transparent;
}

/* ================ */
html,
body {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 30px;
  color: #656565;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top-padding-section {
  padding-top: 50px;
  padding-bottom: 50px;
}
@media screen and (min-width: 992px) {
  .top-padding-section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1200px) {
  .top-padding-section {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.container, .line {
  min-width: 320px;
  margin: 0 auto;
  padding: 0 20px;
}
@media screen and (min-width: 768px) {
  .container, .line {
    width: 768px;
    padding: 0 50px;
  }
}
@media screen and (min-width: 992px) {
  .container, .line {
    width: 992px;
    padding: 0 75px;
  }
}
@media screen and (min-width: 1200px) {
  .container, .line {
    width: 1200px;
    padding: 0 109px;
  }
}
@media screen and (min-width: 1440px) {
  .container, .line {
    width: 1440px;
  }
}

.main {
  flex: 1 1 auto;
}

.logo {
  width: 161px;
  height: 48px;
}

.buttons-wrap {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
@media screen and (max-width: 767.98px) {
  .buttons-wrap {
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .buttons-wrap {
    flex-direction: row;
  }
}

.button {
  height: 56px;
  border-radius: 12px;
  padding: 0 39px;
  line-height: 20px;
  text-align: center;
  font-size: inherit;
}
@media screen and (max-width: 767.98px) {
  .button {
    width: 280px;
  }
}

.download {
  background: #ffffff;
  border: 1px solid #ededed;
  box-shadow: 0px 2px 6px rgba(16, 16, 16, 0.04);
}
@media screen and (min-width: 768px) {
  .download {
    margin-left: 15px;
  }
}

.register {
  background-color: #ff5634;
  border: 1px solid #ff5634;
  color: #ffffff;
  margin-bottom: 20px;
}
@media screen and (min-width: 992px) {
  .register {
    margin-bottom: 0;
  }
}

.subtitle {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1.08;
  text-transform: uppercase;
  color: #ff5634;
  font-weight: 400;
}
@media screen and (min-width: 1200px) {
  .subtitle {
    font-size: 18px;
    line-height: 20px;
  }
}

.title {
  color: #121212;
  font-size: 16px;
  line-height: 22px;
}
@media screen and (min-width: 1200px) {
  .title {
    font-size: 44px;
    line-height: 54px;
  }
}

.line__body {
  width: 100%;
  height: 1px;
  background-color: #cacaca;
}
.line__body-grey {
  background-color: #ededed;
}

.burger {
  display: flex;
  align-items: center;
  padding: 5px;
}
.burger__icon {
  width: 32px;
  height: 32px;
}
@media screen and (min-width: 992px) {
  .burger {
    display: none;
  }
}

.header {
  background: #ffffff;
  box-shadow: 0px 3px 12px rgba(18, 18, 18, 0.06);
  border-radius: 0px;
}
.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
}
@media screen and (min-width: 992px) {
  .header__content {
    padding: 24px 75px;
  }
}
@media screen and (min-width: 1200px) {
  .header__content {
    padding: 32px 109px;
  }
}
.header__logo {
  line-height: 0;
}
.header__button {
  margin: 0;
}
@media screen and (min-width: 1200px) {
  .header__button {
    padding: 0 25px;
  }
}
.header__button:last-child {
  margin-left: 18px;
}
.header__menu {
  margin-right: 32px;
}
.header__wrapper {
  display: none;
  font-size: 16px;
  font-weight: 700;
}
@media screen and (min-width: 992px) {
  .header__wrapper {
    display: flex;
    align-items: center;
    justify-content: end;
    font-size: 14px;
    font-weight: 400;
  }
}
@media screen and (min-width: 1200px) {
  .header__wrapper {
    font-size: 16px;
  }
}

.menu {
  color: #121212;
}
.menu__item {
  margin-bottom: 26px;
}
.menu__item_active {
  color: #ff5634;
}
@media screen and (min-width: 992px) {
  .menu__item {
    margin-bottom: 0;
  }
  .menu__item:not(:last-child) {
    margin-right: 26px;
  }
}
@media screen and (min-width: 992px) {
  .menu__list {
    display: flex;
  }
}
.menu__close {
  position: absolute;
  top: 10px;
  right: 10px;
}
@media screen and (min-width: 992px) {
  .menu__close {
    display: none;
  }
}
.menu__icon {
  width: 35px;
  height: 35px;
}

.open {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: #fafafa;
}

.hero {
  height: calc(100vh - 120px);
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: url("../images/hero/phone.png"), url("../images/hero/bg.jpg");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: 80% 20%, 100% 10%;
  }
}
@media screen and (min-width: 992px) {
  .hero {
    background-position: 70% 70%, right;
    background-size: 50%;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-size: auto;
  }
}
@media screen and (min-width: 768px) {
  .hero__wrapper {
    width: 50%;
  }
}
.hero__subtitle {
  margin-bottom: 28px;
}
.hero__text {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
}
.hero__title {
  font-size: 22px;
  line-height: 26px;
  color: #121212;
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 30px;
    line-height: 34px;
  }
}
@media screen and (min-width: 992px) {
  .hero__title {
    font-size: 40px;
    line-height: 44px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 62px;
    line-height: 72px;
  }
}
.hero__buttons {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .hero__buttons {
    margin-bottom: 60px;
  }
}
.hero__line {
  margin-bottom: 30px;
  width: 100%;
  height: 1px;
  background-color: #cacaca;
}
@media screen and (min-width: 768px) {
  .hero__line {
    margin-bottom: 60px;
  }
}
.hero__list {
  display: flex;
  justify-content: space-between;
}
.hero__item {
  font-size: 12px;
  line-height: 1.111;
}
@media screen and (min-width: 992px) {
  .hero__item {
    font-size: 18px;
  }
}
.hero__counts {
  font-size: 22px;
  line-height: 1.179;
  color: #121212;
  font-weight: 700;
}
@media screen and (min-width: 992px) {
  .hero__counts {
    font-size: 45px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__counts {
    font-size: 56px;
  }
}
.hero__counts_red {
  color: #ff5634;
  font-weight: 400;
}

.clients {
  padding: 140px 109px;
  text-align: center;
}
.clients__title {
  font-weight: normal;
  font-size: 20px;
  line-height: 1.1;
  margin-bottom: 48px;
}
.clients__list {
  display: flex;
  justify-content: space-between;
}
.clients__link {
  display: block;
  height: 45px;
}

.benefits__header {
  text-align: center;
  margin-bottom: 100px;
}
.benefits__subtitle {
  margin-bottom: 7px;
}
.benefits__title {
  margin-bottom: 22px;
}
.benefits__list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 48px;
}
.benefits__item {
  width: 350px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr/1fr;
  justify-items: center;
  text-align: center;
  font-size: 18px;
  line-height: 1.667;
}
.benefits__img {
  width: 218px;
  height: 218px;
  margin-bottom: 32px;
}
.benefits__desc {
  font-size: 28px;
  line-height: 1.429;
  font-weight: 400;
  color: #121212;
  margin-bottom: 15px;
}
.benefits__buttons {
  text-align: center;
}

.advantages__content {
  margin-bottom: 80px;
  display: flex;
}
.advantages__text {
  width: calc(50% - 28px);
  margin-right: 28px;
}
.advantages__images {
  height: 684px;
  width: calc(50% - 28px);
  background-image: url("../images/advantages/bg-big.jpg"), url("../images/advantages/bg-phone.jpg");
  background-repeat: no-repeat;
  background-position: right, 0 40px;
}
.advantages__title {
  margin-bottom: 16px;
}
.advantages__list {
  display: grid;
  grid-template: 1fr 1fr/1fr 1fr;
  gap: 48px;
  margin-top: 33px;
}
.advantages__item {
  min-height: 176px;
  font-size: 14px;
}
.advantages__name {
  font-weight: 400;
  font-size: 22px;
  line-height: 1.27;
  color: #121212;
}
.advantages__desc {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67%;
  position: relative;
  top: 0;
  left: 35%;
}
.advantages__buttons {
  display: flex;
  justify-content: center;
}

.gallery {
  position: relative;
  height: 854px;
  display: flex;
  justify-content: space-between;
  padding: 0 109px;
  background-color: #121212;
  color: #ffffff;
}
.gallery__content {
  width: calc(50% - 28px);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.gallery__title {
  color: inherit;
  margin-bottom: 16px;
}
.gallery__button {
  width: 206px;
  height: 76px;
  margin-top: 27px;
}
.gallery__images {
  width: calc(50% - 28px);
  position: absolute;
  right: 0;
  top: 0;
  max-height: 100%;
  overflow: hidden;
  display: flex;
}
.gallery__column {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 323px;
}
.gallery__column:first-child {
  margin-right: 30px;
}
.gallery__item:not(last-child) {
  display: block;
  margin-bottom: 30px;
}

.features {
  text-align: center;
}
.features__subtitle {
  margin-bottom: 7px;
}
.features__title {
  margin-bottom: 22px;
}
.features__list {
  margin-top: 80px;
  margin-bottom: 60px;
  display: grid;
  grid-template: 1fr 1fr/1fr 1fr 1fr;
  row-gap: 85px;
  -moz-column-gap: 80px;
       column-gap: 80px;
}
.features__item {
  max-width: 350px;
  text-align: center;
  font-size: 18px;
}
.features__image {
  margin-bottom: 24px;
}
.features__header {
  margin-bottom: 21px;
  font-weight: 400;
  font-size: 28px;
  line-height: 40px;
  text-align: center;
  color: #121212;
}

.gains__list {
  display: flex;
  flex-direction: column;
}
.gains__images {
  min-width: 49%;
  height: 767px;
  position: relative;
}
.gains .gains__second, .gains .gains__first {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
}
.gains__first {
  background-image: url("../images/gains/image1.png"), url("../images/gains/phone1.png");
  background-position: 70% 55%, 20% 100%;
}
.gains__second {
  background-image: url("../images/gains/image2.png"), url("../images/gains/phone2.png");
  background-position: 20% 55%, 70% 100%;
}
.gains__bg {
  width: 100%;
  height: 90%;
  border-radius: 32px;
  background-color: #ff5634;
}
.gains__item {
  display: flex;
}
.gains__item:nth-child(odd) {
  margin-bottom: 120px;
}
.gains__item:nth-child(odd) .gains__content {
  margin-left: 55px;
}
.gains__item:nth-child(even) {
  flex-direction: row-reverse;
}
.gains__item:nth-child(even) .gains__content {
  margin-right: 55px;
}
.gains__content {
  margin: auto 0;
  font-size: 18px;
}
.gains__title {
  margin-bottom: 10px;
}
.gains__text {
  font-size: 18px;
}
.gains__sublist {
  margin-top: 32px;
}
.gains__subitem {
  font-size: 13px;
  display: flex;
  align-items: start;
}
.gains__subitem:not(:last-child) {
  margin-bottom: 32px;
}
.gains__image {
  display: block;
  margin-right: 28px;
}
.gains__header {
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  color: #121212;
  margin-bottom: 14px;
}

.feedback {
  background-color: #fafafa;
}
.feedback__header {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 48px;
}
.feedback__wrapper {
  max-width: 490px;
}
.feedback__title {
  font-weight: 400;
  margin-bottom: 22px;
}
.feedback__cards {
  display: grid;
  grid-template: 1fr 1fr/1fr 1fr 1fr;
  gap: 28px;
}
.feedback__item {
  padding: 40px 33px;
  min-height: 268px;
  background: #ffffff;
  border: 1px solid #ededed;
  box-shadow: 0px 2px 12px rgba(16, 16, 16, 0.08);
  border-radius: 24px;
  padding: 40px 33px;
  min-height: 268px;
}
.feedback__person {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}
.feedback__data {
  display: flex;
  align-items: center;
}
.feedback__image {
  display: block;
  margin-right: 10px;
}
.feedback__name {
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #121212;
  margin-bottom: 6px;
}
.feedback__place {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #ff5634;
}
.feedback__sign {
  width: 36px;
  height: 36px;
  background: #eef8ff;
  border-radius: 8px;
}
.feedback__text {
  font-size: 18px;
}

.registration {
  background-color: #fafafa;
  padding-top: 131px;
  position: relative;
}
.registration__content {
  padding: 179px 109px 176px 109px;
  background-color: #121212;
  color: #ffffff;
}
.registration__title {
  color: inherit;
  font-weight: 400;
  margin-bottom: 14px;
}
.registration__text {
  max-width: 540px;
  margin-bottom: 33px;
}
.registration__button {
  height: 72px;
}
.registration__bg2 {
  position: absolute;
  width: 480px;
  height: 730px;
  top: 40px;
  left: 940px;
  background-image: url("../images/registration/phone2.png");
  background-repeat: no-repeat;
  z-index: 1;
}
.registration__bg1 {
  position: absolute;
  width: 480px;
  height: 700px;
  top: 60px;
  left: 687px;
  background-image: url("../images/registration/phone1.png");
  background-repeat: no-repeat;
  z-index: 10;
}

.footer {
  padding: 0 109px;
  margin: 0 auto;
}
.footer__info {
  padding: 70px 0 78px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__info img {
  display: block;
  margin-bottom: 29px;
}
.footer__text {
  max-width: 436px;
}
.footer__buttons {
  display: flex;
}
.footer__button {
  display: inline-block;
  height: 66px;
  min-width: 208px;
  padding: 23px 39px;
}
.footer__btn {
  width: 251px;
  margin-left: 26px;
}
.footer__refers {
  padding: 100px 0;
  display: flex;
  justify-content: space-between;
}
.footer__title {
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  color: #121212;
  margin-bottom: 40px;
}
.footer__list {
  font-size: 18px;
  line-height: 20px;
}
.footer__list-flex {
  display: flex;
}
.footer__wrapper:first-child {
  margin-right: 40px;
}
.footer__item:not(:last-child) {
  margin-bottom: 17px;
}
.footer__grid {
  display: grid;
  grid-template: 1fr 1fr/1fr 1fr;
  row-gap: 13px;
  -moz-column-gap: 29px;
       column-gap: 29px;
}
.footer__place {
  display: flex;
  align-items: center;
  font-size: 18px;
  line-height: 24px;
  color: #121212;
}
.footer__place img {
  margin-right: 18px;
}
.footer__licence {
  text-align: center;
  padding: 32px 0;
}
.footer__text {
  font-size: 18px;
}
.footer__text-red {
  color: #ff5634;
}/*# sourceMappingURL=index.css.map */